/* http://prismjs.com/download.html?themes=prism-coy&languages=markup+css+clike+javascript&plugins=line-numbers */
/**
main  * prism.js Coy theme for JavaScript,main  CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */

main code[class*="language-"],
main pre[class*="language-"] {
	color: black;
	background:none;
	/*font-family: Consolas, Monaco, 'Andale Mono', monospace;*/
	font-family: 'Courier New', Consolas, monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
main pre[class*="language-"] {
	position: relative;
	margin: .5em 0;
	border: 1px solid #358ccb;
	background-color: #fdfdfd;
	background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
	background-size: 3em 3em;
	background-origin: content-box;
	overflow: visible;
	padding:0;
}

main code[class*="language"] {
	padding: 0 1em;
	display: block;
	overflow: auto;
}

/* Inline code */
main :not(pre) > code[class*="language-"] {
	position: relative;
	padding: .2em;
	border-radius: 0.3em;
	border: 1px solid rgba(0, 0, 0, 0.1);
	display: inline;
	white-space: normal;
	background:#ffffff;
}
main section.parameters :not(pre) > code[class*="language-"] {
	color: #c92c2c;
}

/*
main pre[class*="language-"]:before,
main pre[class*="language-"]:after {
	content: '';
	z-index: -2;
	display: block;
	position: absolute;
	bottom: 0.75em;
	left: 0.18em;
	width: 40%;
	height: 20%;
	box-shadow: 0px 13px 8px #979797;
	transform: rotate(-2deg);
}

main :not(pre) > code[class*="language-"]:after,
main pre[class*="language-"]:after {
	right: 0.75em;
	left: auto;
	transform: rotate(2deg);
}*/

main .token.comment,
main .token.block-comment,
main .token.prolog,
main .token.doctype,
main .token.cdata {
	/*color: #7D8B99;*/
	color:#558D54;
}

main .token.punctuation {
	color: #5F6364;
}

main .token.property {
	color: #7900ff;
}

main .token.tag,
main .token.boolean,
main .token.number,
main .token.function-name,
main .token.constant,
main .token.symbol,
main .token.deleted {
	/*color: #c92c2c;*/
	color:#EC00EC;
}

main .token.selector,
main .token.attr-name,
main .token.function,
main .token.builtin,
main .token.inserted {
	/*color: #2f9c0a;*/
	color:#0000ff;
}

main .token.string,
main .token.char {
	/*color: #2f9c0a;*/
	color:#7f0000;
}


main /*.token.operator,*/
main .token.entity,
main .token.url,
main .token.variable {
	color: #666666;
	/*background: rgba(255, 255, 255, 0.5);*/
}

main .token.atrule,
main .token.attr-value,
main .token.keyword,
main .token.class-name {
	/*color: #1990b8;*/
	color:#000000;
	font-weight:bold;
}

main .token.regex,
main .token.important {
	/*color: #e90;*/
	color:#d26900;
}

main .token.macro {
	color:#0080BF;
}

main .language-css .token.string,
main .style .token.string {
	color: #a67f59;
	background: rgba(255, 255, 255, 0.5);
}

main .token.important {
	font-weight: normal;
}

main .token.bold {
	font-weight: bold;
}
main .token.italic {
	font-style: italic;
}
main .token.optional {
	font-weight: bold;
	font-style: italic;
	color:#003366;
}

main .token.entity {
	cursor: help;
}

main .namespace {
	opacity: .7;
}

/*
main @media screen and (max-width: 767px) {
main 	pre[class*="language-"]:before,
main 	pre[class*="language-"]:after {
		bottom: 14px;
		box-shadow: none;
	}

}*/

/* Plugin styles */
main .token.tab:not(:empty):before,
main .token.cr:before,
main .token.lf:before {
	color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
main pre[class*="language-"].line-numbers {
	padding-left: 0;
}

main pre[class*="language-"].line-numbers code {
	padding-left: 3.8em;
}

main pre[class*="language-"].line-numbers .line-numbers-rows {
	left: 0;
}

/* Plugin styles: Line Highlight */
main pre[class*="language-"][data-line] {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}
main pre[data-line] code {
	position: relative;
	padding-left: 4em;
}
main pre .line-highlight {
	margin-top: 0;
}
main pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
	border-left-width:12px;
}

main pre.line-numbers > code {
	position: relative;
}

main .line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;
	user-select: none;

}

main .line-numbers-rows > span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber;
}

main .line-numbers-rows > span:before {
	content: counter(linenumber);
	color: #999;
	display: block;
	padding-right: 0.8em;
	text-align: right;
}
main .token a {
	color: inherit;
}